<div class="container-xxl">
  <div class="container card col-sm-12 col-lg-6">
    <div class="card-body">
      <%= form_with(model: portfolio, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
        <% if portfolio.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>
            <ul>
              <% portfolio.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="mb-3">
          <%= form.label "Portfolio Name", class: "form-label" %>
          <%= form.text_field :name, class: "form-control", required: true %>
        </div>
        <%= form.label :ticker, class: "form-label" %>
        <template data-nested-form-target="template">
          <%= form.fields_for :holdings, Holding.new, child_index: 'NEW_RECORD' do |holding_fields| %>
            <%= render "holding_form", f: holding_fields %>
          <% end %>
        </template>
        <%= form.fields_for :holdings do |holding_fields| %>
          <%= render "holding_form", f: holding_fields %>
        <% end %>
        <!-- Inserted elements will be injected before that target. -->
        <div data-nested-form-target="target">
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <button type="button" data-action="nested-form#add" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i>Add</button>
          </div>
          <div>
            <%= form.submit class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
