<div class="container-xxl mt-5" >
  <%= render "portfolios/notice" %>
  <div class="d-flex justify-content-between align-items-center mb-4" >
    <h1 class="h2 fs-3" ><i class="bi bi-graph-up-arrow" ></i> <%= portfolio.name %></h1>
    <div >
      <%= link_to edit_portfolio_path, class: "btn btn-outline-primary" do %>
        <i class="bi bi-pencil" ></i> Edit Portfolio
      <% end %>
    </div>
  </div>
  <div class="portfolio-summary" >
    <h4 class="h4 mb-4" ><i class="bi bi-info-circle" ></i> Portfolio Summary</h4>
    <div class="row" >
      <div class="col-md-3 col-6" >
        <div class="summary-item" >
          <span class="summary-label" ><i class="bi bi-piggy-bank" ></i> Total Value:</span>
          <span class="summary-value" >$57,186.75</span>
        </div>
      </div>
      <div class="col-md-3 col-6" >
        <div class="summary-item" >
          <span class="summary-label" ><i class="bi bi-cash-stack" ></i> Annual Dividend:</span>
          <span class="summary-value" >$1,715.60</span>
        </div>
      </div>
      <div class="col-md-3 col-6" >
        <div class="summary-item" >
          <span class="summary-label" ><i class="bi bi-percent" ></i> Yield on Cost:</span>
          <span class="summary-value" >3.9%</span>
        </div>
      </div>
      <div class="col-md-3 col-6" >
        <div class="summary-item" >
          <span class="summary-label" ><i class="bi bi-arrow-up-right" ></i> YTD Return:</span>
          <span class="summary-value" >13.2%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4" >
    <div class="card-body" >
      <h5 class="card-title mb-4" ><i class="bi bi-graph-up" ></i> Portfolio Performance</h5>
      <div class="chart-container" >
        <canvas id="portfolioPerformanceChart"  style="display: block; box-sizing: border-box; height: 300px; width: 1262px;" width="1262" height="300"></canvas>
      </div>
    </div>
  </div>
  <% portfolio.holdings.each do |holding|%>
    <%= holding.ticker %>
    <%= holding.shares %>
  <%end%>
  <%= portfolio.holdings.sum(:shares) %>
  <%= render "portfolios/holdings"%>
</div>
<%= @finnhub_client %>
<%= render @holdings %>
<%  @holdings_profiles.each do |holding|%>
  <h3><%= holding.name %></h3>
  <p><%= holding.ticker %> </p>
<% end %>